* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.1rem;
    margin: 0;
}

h2 {
    font-size: 2.9rem;
    color: #3b82f6;
    margin-bottom: 0;
}

#overlay {
    display: none;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    z-index: 2;
}

#overlay-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 400px;
    width: 450px;
    background-color: #ffffff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container {
    display: flex;
    background-color: #eeeeee;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

.form {
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    min-height: 800px;
    min-width: 400px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}

.form-group {
    display: flex;
    height: 60px;
    gap: 0.2em;
    width: 100%;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

#first-name, #last-name, #email {
    padding: 0.5em;
    border: 1px solid #3b82f6;
    outline: none;
}

#first-name:hover,
#first-name:focus,
#last-name:hover,
#last-name:focus,
#email:hover,
#email:focus {
    background-color: #eff6ff;
}

fieldset {
    display: flex;
    gap: 0.2em;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.radio-group, .checkbox-group {
    display: flex;
    gap: 0.5em;
    flex-direction: row;
}

.form-group label {
    align-self: flex-start;
}

.form-group select {
    font-size: 1.2rem;
    outline: none;
}

.btn {
    padding: 0.75rem 1.5rem;
    border: none;
    margin: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    background-color: #eeeeee;
}

.btn-blue {
    background-color: #3b82f6;
    color: #ffffff;
    align-self: stretch;
}

.results {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}

.result {
    display: flex;
    justify-content: space-between;
    background-color: #eff6ff;
    padding: 0.5em 0.2em;
}

.cell {
    display: flex;
    width: 200px;
    justify-self: flex-start;
}

.icon {
    width:40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.fade-in {
    display: block;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.fade-out {
     -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% { opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% { opacity: 1;}
    100% {opacity: 0;}
}
